@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap");

body {
  height: 600px;
  width: 800px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}

h1 {
  font-weight: bold;  
}
h4 {
  font-size: large;
}

h3 :hover{
    color: black;
}
